.container {
  width: 100%;
}

.keen-slider__slide {
  padding: 1rem 0;
}

.arrow {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: var(--color-black);
  cursor: pointer;
  border: 3px solid currentColor;
  border-radius: 50%;
  padding: 1rem;
}

.arrow--left {
  left: -4rem;
}

.arrow--right {
  left: auto;
  right: -4rem;
}
